.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog {
    width: 600px;
}

.blog h1 {
    text-align: center;
    padding: 1rem;
}